{% extends "www/main.html" %}

{% block title %}AKARD Form{% endblock %}

{% block styles %}
{% endblock %}

{% block nav %}
    {% include "www/nav.html" %}
{% endblock %}

{% block main %}
<div class="row margin-left">
    <div class="col s1">
    </div>
    <div class="col s10">
        <br>
        <div class="card navbar-dark blue darken-1">
            <div class="card-content">
                <div class="row">
                    <div class="col s11" style="vertical-align:middle; padding-left:30px;">
                        <h3 class="white-text">AKARD</h3>
                    </div>
                </div>
            </div>
            <div class="card-content grey lighten-4">
                <form>
                      {% if akard != None %}
                        {% for obj in fields %}
                            {% if obj.fieldtype == 'Section Break' %}
                                {% if obj.label %}
                                    <div class="card-panel blue darken-1 white-text center" style="padding:10px">
                                        <p>{{obj.label}}</p>
                                    </div>
                                {% endif %}
                            {% elif obj.fieldtype == 'Check' %}
                                <p>
                                    <label>
                                        {% if akard[obj.fieldname]  == 1 %}
                                            <input type="checkbox" class="filled-in" checked="checked" disabled/>
                                        {% else %}
                                            <input type="checkbox" class="filled-in" disabled/>
                                        {% endif %}
                                        <span>{{obj.label}}</span>
                                    </label>
                                </p>
                            {% elif obj.fieldtype == 'Column Break' or obj.fieldtype == 'HTML' %}

                            {% else %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="{{obj.label}}" id="{{obj.fieldname}}" name="{{obj.fieldname}}" type="text" value="{{akard[obj.fieldname]}}" disabled>
                                        <label for="{{obj.fieldname}}">{{obj.label}}</label>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div>Form is empty</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="col s1">
    </div>
</div>
{% endblock %}

{% block sidenav %}
    {% include "www/member/sidenav.html" %}
{% endblock %}

{% block footer %}
    {% include "www/partials/_footer.html" %}
{% endblock %}

{% block scripts %}
{% endblock %}
