{% extends "www/main.html" %}

{% block title %}Member Profile{% endblock %}

{% block styles %}
{% endblock %}

{% block nav %}
    {% include "www/nav.html" %}
{% endblock %}

{% block main %}
<div style="margin-left: 250px;">
    <div class="row">
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
                    <span class="card-title">Personal Info</span>
                    <p>Name: Neel </p>
                    <p>Status: Active </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
                    <span class="card-title">Balance Due</span>
                    <p>RM 0.00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
                    <span class="card-title">Akard</span>
                    <p>Minor info</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
                    <span class="card-title">PA</span>
                    <p>Family Member List</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
                    <span class="card-title">PI</span>
                    <p>Nominees List</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
                    <span class="card-title">Training</span>
                    <p>Qualifications</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidenav %}
    {% include "www/member/sidenav.html" %}
{% endblock %}