{% extends "www/main.html" %}

{% block title %}Member Profile{% endblock %}

{% block styles %}
{% endblock %}

{% block nav %}
    {% include "www/nav.html" %}
{% endblock %}

{% block main %}
<div style="margin-left: 250px;">
    <div class="row">
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
		    <span class="card-title"><h5><strong>Personal Info</strong></h5></span>

		    <table>
			<tr>
		 	    <td>Name:</td>
		     	    <td>{{member.full_name}}</td>
			</tr>
			<tr>
				<td>Namlifa Member ID:</td>
				<td>{{member.name}}</td>
			<tr>
                        <tr>
                            <td>New NRIC No:</td>
                            <td>{{member.new_nric_no}}</td>
                        </tr>
                        <tr>
                            <td>Tel (H/P):</td>
                            <td>{{member.tel_hp}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{member.email}}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td>Join Date:</td>
                            <td>{{member.date_contracted_as_agent}}</td>
                        </tr>
                        <tr>
                            <td>Expiry Date:</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>Company:</td>
                            <td>{{member.company}}</td>
                        </tr>
                        <tr>
                            <td>Agent's Code:</td>
                            <td>{{member.agent_code}}</td>
                        </tr>
			<tr>
                            <td>Membership Type:</td>
			<tr>
		    </table>

                    <img src="/images/{{member.membership_type}}.png" alt="{{member.membership_type}} Member" title="{{member.membership_type}} Member" width="300" height="180" style="margin-top: 10px">
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
                    <span class="card-title"><h5><strong>Balance Due</strong></h5></span>
                    <p>RM 0.00</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
			<span class="card-title"><h5><strong>Akard</strong></h5></span>
                    <table>
                        <tr>
                            <td>AKARD ID No:</td>
                            <td>{{akard.name}}</td>
                        </tr>
                        <tr>
                            <td>AKARD Plan:</td>
                            <td>{{akard.akard_plan}}</td>
                        </tr>
		    </table>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card white-grey darken-1">
                <div class="card-content black-text">
			<span class="card-title"><h5><strong>PA</strong></h5></span>
                    <p>Nominees List</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidenav %}
    {% include "www/member/sidenav.html" %}
{% endblock %}
