{% extends "www/main.html" %}

{% block title %}Member Profile{% endblock %}

{% block styles %}
{% endblock %}

{% block nav %}
    {% include "www/nav.html" %}
{% endblock %}

{% block main %}
<div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Personal Info</span>
                    <p>Name: Neel </p>
                    <p>Status: Active </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidenav %}
    {% include "www/member/sidenav.html" %}
{% endblock %}