{% extends "www/main.html" %}

{% block title %}Namlifa Personal Indemnity{% endblock %}

{% block styles %}
{% endblock %}

{% block nav %}
    {% include "www/nav.html" %}
{% endblock %}

{% block main %}
<div class="row margin-left">
    <div class="col s1">
    </div>
    <div class="col s10">
        <br>
        <div class="card navbar-dark blue darken-1">
            <div class="card-content">
                <div class="row">
                    <div class="col s11" style="vertical-align:middle; padding-left:30px;">
                        <h3 class="white-text">Professional Indemnity</h3>
                    </div>
                </div>
            </div>
            <div class="card-content grey lighten-4">
                <form>
                    {% if pi %}
		    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Membership No" id="membership_no" type="text" value="{{pi.membership_no}}" disabled>
                            <label for="membership_no">Membership No</label>
                        </div>
		    </div>
		    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Name as per IC" id="full_name" type="text" value="{{member.full_name}}" disabled>
                            <label for="full_name">Name as per IC</label>
                        </div>
		    </div>
		    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="IC Number" id="new_nric_no" type="text" value="{{member.new_nric_no}}" disabled>
                            <label for="new_nric_no">IC Number</label>
                        </div>
		    </div>
		    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Contact Number" id="tel_hp" type="text" value="{{pi.tel_hp}}" disabled>
                            <label for="tel_hp">Contact Number</label>
                        </div>
		    </div>
		    <div class="row">
                        <div class="input-field col s12">
                                <input placeholder="PI joined since" id="pi_join_date" type="text" value="{{pi.pi_join_date}}" disabled>
                            <label for="pi_join_date">PI joined since</label>
                        </div>
		    </div>
		    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Sum Assured" id="sum_assured" type="text" value="{{pi.sum_assured}}" disabled>
                            <label for="sum_assured">Sum Assured</label>
                        </div>
		    </div>
		    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Premium Incl SST%" id="premium_incl_sst" type="text" value="{{pi.total_premium}}" disabled>
                            <label for="premium_incl_sst">Premium Incl SST%</label>
                        </div>
		    </div>
                    {% else %}
                        <div>Form is empty</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="col s1">
    </div>
</div>
{% endblock %}

{% block sidenav %}
    {% include "www/member/sidenav.html" %}
{% endblock %}
