{% extends "www/main.html" %}

{% block title %}Member Profile{% endblock %}

{% block styles %}
{% endblock %}

{% block nav %}
    {% include "www/nav.html" %}
{% endblock %}

{% block main %}
<div class="row margin-left">
    <div class="col s1">
    </div>
    <div class="col s10">
        <br>
        <div class="card navbar-dark blue darken-1">
            <div class="card-content">
                <div class="row">
                    <div class="col s11" style="vertical-align:middle; padding-left:30px;">
                        <h3 class="white-text">Update password</h3>
                    </div>
                </div>
            </div>
            <div class="card-content grey lighten-4">
                <form class="update-form">
                     <div class="row">
                       <div class="input-field col s12">
                          <input id="old-password" type="password" name="old_password">
                          <label for="old-password" class="center-align" style="left: 30px;">Old password</label>
                        </div>
                        <div class="input-field col s12">
                          <input id="new-password" type="password" name="new_password">
                          <label for="new-password" class="center-align" style="left: 30px;">New password</label>
                        </div>
                       <div class="input-field col s12">
                          <input id="confirm-password" type="password" name="confirm_password">
                          <label for="confirm-password" class="center-align" style="left: 30px;">Confirm new password</label>
                        </div>
                       <div class="input-field col s12">
                         <p class="form-hint" style="color: #FF5252"></p>
                       </div>
                    </div>
                    <div class="row center-align">
                        <button class="btn waves-effect waves-light blue darken-1" type="submit" id="save_edit">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s1">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/update-password.js" defer></script>
{% endblock %}

{% block sidenav %}
    {% include "www/member/sidenav.html" %}
{% endblock %}
